{% extends 'bootstrap/base.html' %}

{% block styles %}
{{super()}}
<link rel="stylesheet"
      href="{{url_for('.static', filename='css/styles.css')}}">
{% endblock %}

{% block title %}Restaurants{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-sm-12">

      <h1>All Cafes</h1>

	  <table class="table">
          <!-- This is where you will write the code to render a Bootstrap 
          Table that contains all the information from the 
          cafe-data.csv file. -->
<!--          <tr>-->
<!--              <th>Cafe name</th>-->
<!--              <th>Location</th>-->
<!--              <th>Open</th>-->
<!--              <th>Close</th>-->
<!--              <th>Coffee</th>-->
<!--              <th>Wifi</th>-->
<!--              <th>Power</th>-->
<!--          </tr>-->
          {% for row in cafes %}
            <tr>
                {% for element in row %}
                    {% if element[0:3] == "htt" %}
                    <td><a href="{{element}}">Maps link</a></td>
                    {% else %}
                    <td>{{element}}</td>
                    {% endif %}
                {% endfor %}
            </tr>
          {% endfor %}

  	  </table>

      <p><a href="{{ url_for('home') }}">Return to index page</a></p>

    </div>
  </div>
</div>

{% endblock %}
